<h1>Heading 1 (H1)</h1>
<h2>Heading 2 (H2)</h2>
<h3>Heading 3 (H3)</h3>

<p class="u-h1">Heading 1 styled paragraph text (.u-h1)</p>
<p class="u-h2">Heading 2 styled paragraph text (.u-h2)</p>
<p class="u-h3">Heading 2 styled paragraph text (.u-h3)</p>

<p class="u-subtitle">Subtitle (.u-subtitle)</p>

<h1 style="color:#575757" class="u-h1-blog">Heading 1 Blog (.u-h1-blog)</h1>
<h2 class="u-h2-blog">Heading 2 Blog (.u-h2-blog)</h2>
<h3 class="u-h3-blog">Heading 3 Blog (.u-h3-blog)</h3>


