<div class="m-card">
    {{> atoms-image(imageURL:"../../images/card/card.png") }}
    <div class="m-card__text">
        {{> atoms-heading-3 }}
        {{> atoms-text }}
    </div>

    {{> atoms-link:m-card__link }} 
</div>