<div class="o-donate">
    <div class="o-donate__text">
        {{> atoms-text:u-subtitle(text:"Subtitle style Open Sans Regular 25px #575757 Make a donation today and your money will go directly adversity.") }}
    </div>
    <div class="o-donate__button">
        {{> molecules-button:m-button--lg(buttonText:"Donate now") }}
    </div>
</div>