// Icons
.a-icon {
    width: 0.8em;
    align-self: center;
    color: #ffffff;
    display: inline-block;
    margin-right: 3px;
}

// Logo
.a-logo {
    max-width: 100%;
}

// Menu link
.a-menu-link {
    color: #575757;
    padding: 8px 4px;
    text-decoration: none;
}
.a-menu-link:hover {
    border-bottom: 4px solid #DA3832;
}
