// Icons
.a-icon {
    width: 0.8em;
    align-self: center;
    color: $color-tertiary;
    display: inline-block;
    margin-right: 3px;
}

// Images
.a-image {
    img {
        max-width: 100%;
        width: 100%;
    }
}

// Logo
.a-logo {
    max-width: 100%;
}

// Menu link
.a-menu-link {
    color: $color-secondary;
    padding: 8px 4px;
    text-decoration: none;
}
.a-menu-link:hover {
    border-bottom: 4px solid #DA3832;
}
