// Header
.o-header {
    border-bottom: 1px solid #F2F2F2;
    padding: 1em 0;
}
.o-header__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

// Cards
.o-cards {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -25px;
}

// Donate
.o-donate {
    display: flex;
    flex-wrap: wrap; 
    margin: 0 auto;
    max-width: 940px;
    padding: 20px;
}
.o-donate__text {
    flex: 999 1 auto;  
    padding-right: 20px;
    width: 75%;

    p {
        margin: 0;
    }
}
.o-donate__button {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

.o-footer {
    background: #424242;
    margin-top: 50px;
}
.o-footer__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    padding: 200px 20px;
}