// Headings

.u-h1, .u-h2, .u-h3, .u-subtitle {
    margin: 0 0 1em 0;
}

.u-h1 {
    font-size: 2.222rem;
    font-weight: bold;
}

.u-h2 {
    font-size: 1.667rem;
    font-weight: bold;
}

.u-h3 {
    font-weight: bold;
}

.u-subtitle {
    font-size: 1.389rem;
    font-weight: normal;
}

.u-h1-blog {
    color: #fff;
    font-size: 1.667rem;
    font-weight: bold;
}

.u-h2-blog {
    font-size: 1.222rem;
    font-weight: bold;
}

.u-h3-blog {
    font-weight: bold;
}

// Alignment
.u-align-center {
    text-align: center;
}

.u-align-left {
    text-align: left;
}
