// Headings

.u-h1, .u-h2, .u-h3, .u-subtitle {
    margin: 0 0 1em 0;
}

.u-h1 {
    font-size: 2.222rem;
    font-weight: bold;
}

.u-h2 {
    font-size: 1.667rem;
    font-weight: bold;
}

.u-h3 {
    font-weight: bold;
}

.u-subtitle {
    font-size: 1.389rem;
    font-weight: normal;
}

.u-h1-blog {
    color: $color-tertiary;
    font-size: 1.667rem;
    font-weight: bold;
}

.u-h2-blog {
    font-size: 1.222rem;
    font-weight: bold;
}

.u-h3-blog {
    font-weight: bold;
}

// Alignment
.u-align-center {
    text-align: center;
}

.u-align-left {
    text-align: left;
}

// Underline
.u-underline {
    padding: 0 0 25px;
    position: relative;

    &:after {
        border-bottom: 5px solid $color-primary;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        width: 50px;
    }

    &.u-align-center:after {
        right: 0;
        margin: 0 auto;
    }
}
