<ul class="sg-colors">
	<li style="display:inline-block;margin-right:10px;">
		<span class="sg-swatch" style="background:#da3832;width:200px;height:100px;display:block;margin: 0 0 10px;"></span>
		<span class="sg-label">
			$color-primary <br />
			#da3832 <br />
		</span>
	</li>
	<li style="display:inline-block;margin-right:10px;">
		<span class="sg-swatch" style="background:#575757;width:200px;height:100px;display:block;margin: 0 0 10px;"></span>
		<span class="sg-label">
			$color-secondary <br />
			#575757 <br />
		</span>
	</li>
	<li style="display:inline-block;margin-right:10px;">
		<span class="sg-swatch" style="background:#ffffff;width:200px;height:100px;display:block;margin: 0 0 10px;border:1px solid #ddd"></span>
		<span class="sg-label">
			$color-tertiary <br />
			#ffffff <br />
		</span>
	</li>
</ul>